### Connect MySQL with python

In [2]:
import mysql.connector as connection

In [25]:
mydb = connection.connect(host = "localhost", user = "root", password = "Tushar0420&", use_pure = True)
mydb.is_connected()

### Query to print all databases name

In [27]:
try:
    cursor = mydb.cursor()
    query = "show databases;"
    cursor.execute(query)
    cursor.fetchall()

except Exception as e:
    mydb.close()
    print(str(e))

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('qafox',),
 ('sakila',),
 ('student',),
 ('sys',),
 ('world',)]

### Print Table name in database

In [52]:
mydb = connection.connect(host = "localhost", database = "qafox", user = "root", password = "Tushar0420&", use_pure = True)
mydb.is_connected()

True

In [54]:
try:
    cursor = mydb.cursor()
    query = "show tables"
    cursor.execute(query)
    print(cursor.fetchall())
    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

MySQL Connection not available.

### Create DataBase

In [5]:
try:
    cursor = mydb.cursor() #create a cursor to execute queries
    query = "Create database Student;"
    cursor.execute(query)
    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

### Create Table in Database

In [50]:
mydb = connection.connect(host = "localhost", database = "Student", user = "root", password = "Tushar0420&", use_pure = True)
mydb.is_connected()

True

In [44]:
cursor = mydb.cursor()
query = "CREATE TABLE EMPLOYEE2( FIRST_NAME CHAR(20) NOT NULL, LAST_NAME CHAR(20), AGE INT, SEX CHAR(1), INCOME FLOAT );"
cursor.execute(query)

In [48]:
try:
    query  = "create table details(x1 INT(5) , x2 VARCHAR(20), x3 DATE)"
    cur = mydb.cursor()
    cur.execute(query)
    print("Table Created!")
    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

Table Created!

In [51]:
try:
    cursor = mydb.cursor()
    query = "show tables"
    cursor.execute(query)
    print(cursor.fetchall())
    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

[('details',), ('employee',), ('employee1',), ('employee2',)]

### Insert Data into table

In [55]:
mydb = connection.connect(host = "localhost", database = "Student", user = "root", password = "Tushar0420&", use_pure = True)
mydb.is_connected()

True

In [56]:
try: 
    query  = "insert into details values(4548, 'sonp', '2021-05-15')"   #yyyy-mm-dd is the only formate for date & always use '' in the values block
    cur = mydb.cursor()
    cur.execute(query)
    print("Value inserted into the table!!")
    mydb.commit()
    
    query = "insert  into details values(0420,'Tushar','2000-04-20')"
    cur.execute(query)       #how many no. of time we execute query data upload that times
    mydb.commit()            #without commit statment data is not inserted
    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

Value inserted into the table!!

### Fetch data from table

In [58]:
mydb = connection.connect(host = "localhost", database = "Student", user = "root", password = "Tushar0420&", use_pure = True)
mydb.is_connected()

True

In [59]:
try:
    query  = "select * from details;"     # * means all columns
    cur = mydb.cursor()
    cur.execute(query)
    for i in cur.fetchall():     #fetchall fet the data
        print(i)
    
    query  = "select x1,x2 from details;"
    cur = mydb.cursor()
    cur.execute(query)
    for i in cur.fetchall():     #this time date is not be fetched
        print(i)
    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

(4548, 'sonp', datetime.date(2021, 5, 15))
(420, 'Tushar', datetime.date(2000, 4, 20))
(4548, 'sonp')
(420, 'Tushar')

### Fetch and make a csv file of that data with selecting database

In [60]:
mydb = connection.connect(host = "localhost", user = "root", password = "Tushar0420&", use_pure = True)
mydb.is_connected()

True

In [61]:
import pandas as pd

try:
    query = "select * from Student.details"      # * means all the available cloumns in the dataset
    result = pd.read_sql(query,mydb)
    print(result)
    result.to_csv("mydata.csv")      #make a csv file and write the data init.
    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

     x1      x2          x3
0  4548    sonp  2021-05-15
1   420  Tushar  2000-04-20

C:\Users\yadav\AppData\Roaming\Python\Python39\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

### Insert Multiple data from CSV file

In [75]:
mydb = connection.connect(host = "localhost", database = "Student", user = "root", password = "Tushar0420&", use_pure = True)
mydb.is_connected()

True

In [76]:
import pandas as pd
irisData = pd.read_csv('https://github.com/Muhd-Shahid/Write-Raw-File-into-Database-Server/raw/main/iris.csv',index_col=False)
irisData.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [77]:
import pandas as pd

try:
    cursor = mydb.cursor()
    query = 'DROP TABLE IF EXISTS iris;'
    cursor.execute(query)

    cursor.execute("CREATE TABLE iris (sepal_length FLOAT(2,1) NOT NULL, sepal_width FLOAT(2,1) NOT NULL, petal_length FLOAT(2,1) NOT NULL, petal_width FLOAT(2,1),species CHAR(11)NOT NULL)")
    print("iris table is created....")
    
    for i,row in irisData.iterrows():
        query = "INSERT INTO iris VALUES (%s,%s,%s,%s,%s)"
        cursor.execute(query, tuple(row))
        mydb.commit()
    print("Record was inserted")

except Exception as e:
    mydb.close()
    print(str(e))

iris table is created....
Record was inserted

In [78]:
try:
    query  = "select * from iris;"     # * means all columns
    cur = mydb.cursor()
    cur.execute(query)
    for i in cur.fetchall():     #fetchall fet the data
        print(i)

except Exception as e:
    mydb.close()
    print(str(e))

(5.1, 3.5, 1.4, 0.2, 'setosa')
(4.9, 3.0, 1.4, 0.2, 'setosa')
(4.7, 3.2, 1.3, 0.2, 'setosa')
(4.6, 3.1, 1.5, 0.2, 'setosa')
(5.0, 3.6, 1.4, 0.2, 'setosa')
(5.4, 3.9, 1.7, 0.4, 'setosa')
(4.6, 3.4, 1.4, 0.3, 'setosa')
(5.0, 3.4, 1.5, 0.2, 'setosa')
(4.4, 2.9, 1.4, 0.2, 'setosa')
(4.9, 3.1, 1.5, 0.1, 'setosa')
(5.4, 3.7, 1.5, 0.2, 'setosa')
(4.8, 3.4, 1.6, 0.2, 'setosa')
(4.8, 3.0, 1.4, 0.1, 'setosa')
(4.3, 3.0, 1.1, 0.1, 'setosa')
(5.8, 4.0, 1.2, 0.2, 'setosa')
(5.7, 4.4, 1.5, 0.4, 'setosa')
(5.4, 3.9, 1.3, 0.4, 'setosa')
(5.1, 3.5, 1.4, 0.3, 'setosa')
(5.7, 3.8, 1.7, 0.3, 'setosa')
(5.1, 3.8, 1.5, 0.3, 'setosa')
(5.4, 3.4, 1.7, 0.2, 'setosa')
(5.1, 3.7, 1.5, 0.4, 'setosa')
(4.6, 3.6, 1.0, 0.2, 'setosa')
(5.1, 3.3, 1.7, 0.5, 'setosa')
(4.8, 3.4, 1.9, 0.2, 'setosa')
(5.0, 3.0, 1.6, 0.2, 'setosa')
(5.0, 3.4, 1.6, 0.4, 'setosa')
(5.2, 3.5, 1.5, 0.2, 'setosa')
(5.2, 3.4, 1.4, 0.2, 'setosa')
(4.7, 3.2, 1.6, 0.2, 'setosa')
(4.8, 3.1, 1.6, 0.2, 'setosa')
(5.4, 3.4, 1.5, 0.4, 'setosa')
(5.2, 4.1, 1.5, 0.1, 'setosa')
(5.5, 4.2, 1.4, 0.2, 'setosa')
(4.9, 3.1, 1.5, 0.2, 'setosa')
(5.0, 3.2, 1.2, 0.2, 'setosa')
(5.5, 3.5, 1.3, 0.2, 'setosa')
(4.9, 3.6, 1.4, 0.1, 'setosa')
(4.4, 3.0, 1.3, 0.2, 'setosa')
(5.1, 3.4, 1.5, 0.2, 'setosa')
(5.0, 3.5, 1.3, 0.3, 'setosa')
(4.5, 2.3, 1.3, 0.3, 'setosa')
(4.4, 3.2, 1.3, 0.2, 'setosa')
(5.0, 3.5, 1.6, 0.6, 'setosa')
(5.1, 3.8, 1.9, 0.4, 'setosa')
(4.8, 3.0, 1.4, 0.3, 'setosa')
(5.1, 3.8, 1.6, 0.2, 'setosa')
(4.6, 3.2, 1.4, 0.2, 'setosa')
(5.3, 3.7, 1.5, 0.2, 'setosa')
(5.0, 3.3, 1.4, 0.2, 'setosa')
(7.0, 3.2, 4.7, 1.4, 'versicolor')
(6.4, 3.2, 4.5, 1.5, 'versicolor')
(6.9, 3.1, 4.9, 1.5, 'versicolor')
(5.5, 2.3, 4.0, 1.3, 'versicolor')
(6.5, 2.8, 4.6, 1.5, 'versicolor')
(5.7, 2.8, 4.5, 1.3, 'versicolor')
(6.3, 3.3, 4.7, 1.6, 'versicolor')
(4.9, 2.4, 3.3, 1.0, 'versicolor')
(6.6, 2.9, 4.6, 1.3, 'versicolor')
(5.2, 2.7, 3.9, 1.4, 'versicolor')
(5.0, 2.0, 3.5, 1.0, 'versicolor')
(5.9, 3.0, 4.2, 1.5, 'versicolor')
(6.0, 2.2, 4.0, 1.0, 'versicolor')
(6.1, 2.9, 4.7, 1.4, 'versicolor')
(5.6, 2.9, 3.6, 1.3, 'versicolor')
(6.7, 3.1, 4.4, 1.4, 'versicolor')
(5.6, 3.0, 4.5, 1.5, 'versicolor')
(5.8, 2.7, 4.1, 1.0, 'versicolor')
(6.2, 2.2, 4.5, 1.5, 'versicolor')
(5.6, 2.5, 3.9, 1.1, 'versicolor')
(5.9, 3.2, 4.8, 1.8, 'versicolor')
(6.1, 2.8, 4.0, 1.3, 'versicolor')
(6.3, 2.5, 4.9, 1.5, 'versicolor')
(6.1, 2.8, 4.7, 1.2, 'versicolor')
(6.4, 2.9, 4.3, 1.3, 'versicolor')
(6.6, 3.0, 4.4, 1.4, 'versicolor')
(6.8, 2.8, 4.8, 1.4, 'versicolor')
(6.7, 3.0, 5.0, 1.7, 'versicolor')
(6.0, 2.9, 4.5, 1.5, 'versicolor')
(5.7, 2.6, 3.5, 1.0, 'versicolor')
(5.5, 2.4, 3.8, 1.1, 'versicolor')
(5.5, 2.4, 3.7, 1.0, 'versicolor')
(5.8, 2.7, 3.9, 1.2, 'versicolor')
(6.0, 2.7, 5.1, 1.6, 'versicolor')
(5.4, 3.0, 4.5, 1.5, 'versicolor')
(6.0, 3.4, 4.5, 1.6, 'versicolor')
(6.7, 3.1, 4.7, 1.5, 'versicolor')
(6.3, 2.3, 4.4, 1.3, 'versicolor')
(5.6, 3.0, 4.1, 1.3, 'versicolor')
(5.5, 2.5, 4.0, 1.3, 'versicolor')
(5.5, 2.6, 4.4, 1.2, 'versicolor')
(6.1, 3.0, 4.6, 1.4, 'versicolor')
(5.8, 2.6, 4.0, 1.2, 'versicolor')
(5.0, 2.3, 3.3, 1.0, 'versicolor')
(5.6, 2.7, 4.2, 1.3, 'versicolor')
(5.7, 3.0, 4.2, 1.2, 'versicolor')
(5.7, 2.9, 4.2, 1.3, 'versicolor')
(6.2, 2.9, 4.3, 1.3, 'versicolor')
(5.1, 2.5, 3.0, 1.1, 'versicolor')
(5.7, 2.8, 4.1, 1.3, 'versicolor')
(6.3, 3.3, 6.0, 2.5, 'virginica')
(5.8, 2.7, 5.1, 1.9, 'virginica')
(7.1, 3.0, 5.9, 2.1, 'virginica')
(6.3, 2.9, 5.6, 1.8, 'virginica')
(6.5, 3.0, 5.8, 2.2, 'virginica')
(7.6, 3.0, 6.6, 2.1, 'virginica')
(4.9, 2.5, 4.5, 1.7, 'virginica')
(7.3, 2.9, 6.3, 1.8, 'virginica')
(6.7, 2.5, 5.8, 1.8, 'virginica')
(7.2, 3.6, 6.1, 2.5, 'virginica')
(6.5, 3.2, 5.1, 2.0, 'virginica')
(6.4, 2.7, 5.3, 1.9, 'virginica')
(6.8, 3.0, 5.5, 2.1, 'virginica')
(5.7, 2.5, 5.0, 2.0, 'virginica')
(5.8, 2.8, 5.1, 2.4, 'virginica')
(6.4, 3.2, 5.3, 2.3, 'virginica')
(6.5, 3.0, 5.5, 1.8, 'virginica')
(7.7, 3.8, 6.7, 2.2, 'virginica')
(7.7, 2.6, 6.9, 2.3, 'virginica')
(6.0, 2.2, 5.0, 1.5, 'virginica')
(6.9, 3.2, 5.7, 2.3, 'virginica')
(5.6, 2.8, 4.9, 2.0, 'virginica')
(7.7, 2.8, 6.7, 2.0, 'virginica')
(6.3, 2.7, 4.9, 1.8, 'virginica')
(6.7, 3.3, 5.7, 2.1, 'virginica')
(7.2, 3.2, 6.0, 1.8, 'virginica')
(6.2, 2.8, 4.8, 1.8, 'virginica')
(6.1, 3.0, 4.9, 1.8, 'virginica')
(6.4, 2.8, 5.6, 2.1, 'virginica')
(7.2, 3.0, 5.8, 1.6, 'virginica')
(7.4, 2.8, 6.1, 1.9, 'virginica')
(7.9, 3.8, 6.4, 2.0, 'virginica')
(6.4, 2.8, 5.6, 2.2, 'virginica')
(6.3, 2.8, 5.1, 1.5, 'virginica')
(6.1, 2.6, 5.6, 1.4, 'virginica')
(7.7, 3.0, 6.1, 2.3, 'virginica')
(6.3, 3.4, 5.6, 2.4, 'virginica')
(6.4, 3.1, 5.5, 1.8, 'virginica')
(6.0, 3.0, 4.8, 1.8, 'virginica')
(6.9, 3.1, 5.4, 2.1, 'virginica')
(6.7, 3.1, 5.6, 2.4, 'virginica')
(6.9, 3.1, 5.1, 2.3, 'virginica')
(5.8, 2.7, 5.1, 1.9, 'virginica')
(6.8, 3.2, 5.9, 2.3, 'virginica')
(6.7, 3.3, 5.7, 2.5, 'virginica')
(6.7, 3.0, 5.2, 2.3, 'virginica')
(6.3, 2.5, 5.0, 1.9, 'virginica')
(6.5, 3.0, 5.2, 2.0, 'virginica')
(6.2, 3.4, 5.4, 2.3, 'virginica')
(5.9, 3.0, 5.1, 1.8, 'virginica')

### Insert data in bulk

In [100]:
mydb = connection.connect(host = "localhost", database = "Student", user = "root", password = "Tushar0420&", use_pure = True)
mydb.is_connected()

True

In [98]:
import pandas as pd
import csv

try:
    cursor = mydb.cursor()
    query = 'DROP TABLE IF EXISTS student_table;'
    cursor.execute(query)

    query = "CREATE TABLE student_table(index_num INT(10), name INT(20), percentage float(10,5), number INT(10), class float(10,5), section float(10,5) )"
    cursor = mydb.cursor()
    cursor.execute(query)
    
    with open('mydata.data', 'r') as data:
        next(data)      # to make the cursor in next line
        data_csv = csv.reader(data, delimiter="\n")  # use to read other file in csv formate
        for i in data_csv:      # this is for converting list into string
            print(i)
            print(type(i))
            cursor.execute("insert into student_table values({})".format(str(i[0])))
        print("all the data inserted")
    
    mydb.commit()
    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

['1,8745,75.2,133526,7,58.2']
<class 'list'>
['2,4565,80,2322,5,65.2']
<class 'list'>
['3,5636,86,25555,6,95.8']
<class 'list'>
['4,54424,15.666,555,88.656,8559.2665']
<class 'list'>
['5,55456,6565,565,96.65,9653.3256']
<class 'list'>
all the data inserted

In [101]:
try:
    query  = "select * from student_table;"     # * means all columns
    cur = mydb.cursor()
    cur.execute(query)
    for i in cur.fetchall():     #fetchall fet the data
        print(i)
    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

(1, 8745, 75.2, 133526, 7.0, 58.2)
(2, 4565, 80.0, 2322, 5.0, 65.2)
(3, 5636, 86.0, 25555, 6.0, 95.8)
(4, 54424, 15.666, 555, 88.656, 8559.2666)
(5, 55456, 6565.0, 565, 96.65, 9653.3252)

### Delete Record from table

In [3]:
mydb = connection.connect(host = "localhost", database = "Student", user = "root", password = "Tushar0420&", use_pure = True)
mydb.is_connected()

True

In [4]:
try:
    query = "DELETE FROM student_table WHERE number = 133526"    
    cursor = mydb.cursor()
    cursor.execute(query)
    mydb.commit()
    mydb.close()
    
except Exception as e:
    print(str(e))
    mydb.close()

### Update Table

In [21]:
mydb = connection.connect(host = "localhost", database = "Student", user = "root", password = "Tushar0420&", use_pure = True)
mydb.is_connected()

True

In [20]:
try:
    query = "UPDATE student_table SET number = 2653, class= 56, name = 545 where index_num = 2"
    cur = mydb.cursor()
    cur.execute(query)
    mydb.commit()
    mydb.close()

except Exception as e:
    print(str(e))
    mydb.close()

### Select with where condition or find in table

In [23]:
mydb = connection.connect(host = "localhost", database = "Student", user = "root", password = "Tushar0420&", use_pure = True)
mydb.is_connected()

True

In [24]:
try:
    query  = "select * from student_table where number = 56532653;"     # * means all columns
    cur = mydb.cursor()
    cur.execute(query)
    for i in cur.fetchall():     #fetchall fet the data
        print(i)
    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

(3, 545, 86.0, 56532653, 56.0, 95.8)
(4, 545, 15.666, 56532653, 56.0, 8559.2666)
(5, 545, 6565.0, 56532653, 56.0, 9653.3252)